/* Nav Background  */
body,
html {
  background-color: rgb(241, 250, 241);
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-header {
  background-color: #e2e8f0;
}

/* Nav Logo  */
.MernText {
  color: #607ca4;
  font-size: 1.5rem;
  font-weight: bold;
}
.EstateText {
  color: #144180;
  font-size: 1.5rem;
  font-weight: bold;
}

.pfp-image {
  width: 2rem;
  border-radius: 50%;
  padding-top: 0.2rem;
  margin-left: 0.7rem;
}

/* Nav LINKS */
.navtext {
  font-size: 1.1rem;
}

.nav-login-link {
  text-decoration: none;
}

/*  Search Logo Hover */
.searchicon {
  color: black;
}
.searchicon:hover {
  cursor: pointer;
  color: #1861c7;
}

/* Media Query for header */
@media (max-width: 600px) {
  /* .app-header .d-flex form {
    width: 70px;
    padding-right: 150px;
  } */
  .signup-form {
    width: 5rem;
  }

  .profile-form {
    width: 5rem;
  }
}

@media (max-width: 580px) {
  .navlinks {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    margin-right: 30px;
    margin-top: 0;
    padding-top: 0;
  }
  .navbar-toggler {
    margin-right: 30px;
  }

  .search-form {
    margin-top: 30px;
    width: 80%;
  }

  .navbar {
    text-align: center; /* Ensure proper centering */
  }

  .pfp-image {
    max-width: 40px;
    margin-left: 10px;
  }
}

/*  SignUp Form     */
.signup-form {
  width: 30rem;
}
.signup-btn {
  background-color: #374151;
  color: white;
}
.signup-btn:hover {
  background-color: #4b5563;
}
.already-acc-signin {
  display: flex;
}
.form-text {
  padding-right: 0.7rem;
  font-size: 0.9rem;
  padding-top: 0;
}
.sign-in-txt {
  text-decoration: none;
  font-size: 0.9rem;
}

/*  Google Auth Button */
.auth-btn:hover {
  cursor: pointer;
  background-color: rgb(110, 36, 36);
}

/*  profile form */
.profile-form {
  width: 30rem;
}

.img-avatar {
  width: 150px;
  height: 150px;
}

.update-btn {
  background-color: #374151;
  color: white;
}
.update-btn:hover {
  background-color: #4b5563;
}

.create-listing-btn {
  background-color: green;
  color: white;
}
.create-listing-btn:hover {
  background-color: rgb(49, 92, 49);
}

.show-listing-txt {
  text-decoration: none;
  color: #2f855a;
}
.show-listing-txt:hover {
  color: #1861c7;
  cursor: pointer;
}

.del-acc-txt {
  color: red;
  text-decoration: none;
}
.del-acc-txt:hover {
  color: #3d4249;
  cursor: pointer;
}

.my-listing-link {
  text-decoration: none;
}

.my-listing-link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.edit-listing-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete-listing-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.listing-name-link {
  text-decoration: none;
}
.listing-name-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*  Create Listing Page */
.create-listing-fr:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*  Show Listing Page */
.contact-lord-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.carousel {
  margin: 0;
  padding: 0;
}

.carousel-inner {
  width: 100vw; /* Full viewport width */
}

.carousel img {
  width: 100%; /* Stretch the image */
  height: auto;
}

/*  Search Listing Page */
.filter-search-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*  Home Page */
.home-search-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}
/* Extras */
