/* Nav Background  */ 
body {
    background-color: rgb(241, 250, 241);
}

.app-header {
    background-color:#E2E8F0;
  }

/* Nav Logo  */ 
.MernText {
    color: #607ca4;
    font-size: 1.5rem;
    font-weight: bold;
}
.EstateText {
    color: #144180;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Nav LINKS */ 
.navtext{
    font-size: 1.1rem;
}

/*  Search Logo Hover */
.searchicon{
    color: black;
}
.searchicon:hover{
    cursor: pointer;
    color: #1861c7;
}


/* Media Query for header */
@media (max-width: 600px) {
    .app-header .d-flex form {
      width: 70px; 
      padding-right: 150px;
    }
    .signup-form{
        width: 5rem;
        }
}


/*  SignUp Form     */
.signup-form{
width: 30rem;
}
.signup-btn{
    background-color: #374151;
    color: white;
}
.signup-btn:hover{
    background-color: #4b5563;
}